/* general */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #b3b3b3;
}

.clearfix::after {
  content: ‘’;
  display: table;
  clear: both;
}

.white {
  color: #ffffff;
}

.grey {
  color: #b3b3b3;
}

.btn {
  padding: 10px 20px;
}

/* header */
.header {
  float: left;
  width: 230px;
  height: calc(100vh - 90px);
}

.nav_bar_top {
  height: 100%;
  padding: 20px;
  background-color: rgb(3, 3, 3);
}

/* nav_bar_top top */
.nav_bar_top .top .logo {
  width: 130px;
  height: 40px;
  margin-bottom: 20px;
}

.nav_bar_top .top .logo-small {
  display: none;
  width: 30px;
  margin: 20px 0;
}

.nav_bar_top .top .menu li {
  margin-bottom: 15px;
}

.nav_bar_top .top .menu li:first-child {
  position: relative;
}

.nav_bar_top .top .menu li:first-child::before {
  position: absolute;
  content: '';
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  width: 2.5px;
  height: 32px;
  border-radius: 2px;
  background-color: #1ed760;
}

.nav_bar_top .top .menu a {
  display: block;
  font-size: 14px;
}

.nav_bar_top .top .menu svg {
  margin-right: 10px;
  vertical-align: middle;
  fill: #b3b3b3;
}

.nav_bar_top .top .menu li:hover a,
.nav_bar_top .top .menu li:hover svg {
  transition: color 1s, fill 1s;
  color: #ffffff;
  fill: #ffffff;
}

@media screen and (max-width: 576px) {
  .header {
    width: 60px;
    text-align: center;
  }
  .nav_bar_top {
    padding: 5px;
  }
  .nav_bar_top .top .logo {
    display: none;
  }
  .nav_bar_top .top .logo-small {
    display: inline-block;
  }
  .nav_bar_top .top .menu li:first-child::before {
    left: -5px;
  }
  .nav_bar_top .top .menu svg {
  margin-right: 0;
  }
  .nav_bar_top .top .menu span {
    display: none;
  }
  .upgrade {
    width: calc(100% - 60px);
  }
}

/* nav_bar_top middle */
.nav_bar_top .middle {
  height: calc(100% - 160px);
  background-color: yellow;
}

.playlist {
  height: calc(100% - 47px);
  overflow: hidden;
  overflow-y: scroll;
}

.nav_bar_top .bottom {
  background-color: green;
}

/* main */
.main {
  height: calc(100vh - 90px);
  padding: 10px;
  background-color: pink;
  overflow-y: scroll;
}

.upgrade {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  height: 80px;
  background-color: green;
}

@media screen and (min-width: 576px) {
  .upgrade {
    width: calc(100% - 230px);
  }
}

.btn_upgrade {
  margin-right: 10px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  text-transform: uppercase;
}

.box_main {
  margin-top: 80px;
  background-color: brown;
}

/* footer */
.nav_bar_bottom {
  height: 90px;
  background-color: red;
}
